# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.log

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Env files / secrets
.env
.env.*